<div class="user-edit">
	<%= form_for(@user) do |f| %>
	<%= render 'layouts/error_messages', model: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :user_image %>
		<%= f.attachment_field :user_image %>

		<%= f.label :introduction %>
		<%= f.text_area :introduction %>

		<%= f.submit %>

	<% end %>
</div>

<%= link_to "back", user_path(@user.id) %>