<div class="main-visual">
	<p>user-show</p>
</div>

<div class="wrapper">
	<div class="user-box">
		<div class="user-profile">
			<div class="user-img">
				<%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size:"100x100" %>
			</div>
			<div class="introduction">
			<%= @user.name %><br>
			<%= @user.introduction %>
			</div>
			<%= link_to "あたらしい投稿", new_post_image_path %>
		</div>


		<div class="user-blog">
		<% @posts.each do |post| %>
			<h3 class="blog-title">
				<%= link_to "#{post.title}", post_image_path(post.id) %>
			</h3>
			<div class="img-box">
				<%= attachment_image_tag post, :image, fallback:"no_image.jpg", size:"300x200" %>
			</div>
			<div class="post-info">
				<div class="date">
					<%= post.created_at.strftime("%Y/%m/%d") %>
				</div>
				<div class="category">
					<td class="category"><% post.tags.each do |tag| %>
						<span class="badge badge-primary"><%= tag.name %></span>
					<% end %>
				</div>
				<div class="nice">
					<%= post.favorites.count %> いいね
				</div>
				<div class="comment">
					<%= link_to "#{post.post_comments.count} コメント", post_image_path(post.id) %>
				</div>
			</div>
			<div class="caption">
				<%= post.caption.truncate(50) %>
				<%= link_to "続きはこちら", post_image_path(post.id) %>
			</div>
		<% end %>
		<%= paginate @posts, class: "paginate" %>
		</div>
	</div>
</div>