<div class="wrapper">
	<div class="content">
		<div class="edit-page">
			<h3 class="inup-head">** 編集 **</h3>
		<%= form_for(@post) do |f| %>

		<%= render 'layouts/error_messages', model: f.object %>
			<div class="field">
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>
			<div class="field">
				<%= f.label :image_id %>
				<%= f.attachment_field :image %>
			</div>
			<div class="field">
				<%= f.label :caption %><br>
				<%= f.text_area :caption %>
			</div>
			<div class='form-group'>
		        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
		            <div class='form-check'>
		                <%= tag.label class: 'form-check-label' do %>
		                    <%= tag.check_box class: 'form-check-input' %>
		                    <%= tag.text %>
		                <% end %>
		            </div>
		        <% end %>
		    </div>
			<div class="field">
				<%= f.submit class:"in-btn"%>
			</div>
		<% end %>
		</div>

	<%= link_to "back", post_image_path(@post.id) %>
	<span> | </span>
	<%= link_to "index", post_images_path %>
	</div>
</div>
