<div class="edit-page">
	<%= form_for(@post) do |f| %>

	<%= render 'layouts/error_messages', model: f.object %>

		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :image_id %>
		<%= f.attachment_field :image %>

		<%= f.label :caption %>
		<%= f.text_area :caption %>


		<%= f.submit %>

	<% end %>
</div>

<%= link_to "back", post_image_path(@post.id) %>
<span> | </span>
<%= link_to "index", post_images_path %>