<div class="main-visual">
	
</div>

<section>
	<h2>Blogs</h2>
	<div class="blog">
		<% @posts.each do |post| %>
			<h3 class="blog-title">
				<%= link_to "#{post.title}", post_image_path(post.id) %>
			</h3>
			<div class="img-box">
				<%= attachment_image_tag post, :image, fallback: "no_image.jpg" %>
			</div>
			<div class="user-info">
				<div class="userphoto">
					<%= attachment_image_tag post, :image, fallback: "no_image.jpg" %>
				</div>
				<div class="username">
					<%= post.user.name %>
				</div>
			</div>
			<div class="post-info">
				<div class="date">
					<%= post.created_at %>
				</div>
				<div class="nice">
				</div>
				<div class="comment">
				</div>
			</div>
			<div class="caption">
				<%= post.caption.truncate(50) %>
				<%= link_to "続きはこちら", post_image_path(post.id) %>
			</div>
		<% end %>
		<%= paginate @posts, class: "paginate" %>
	</div>
</section>