<div class="main-visual">
	
</div>

<section>
	<h2>Blogs</h2>
	<div class="blog">]
		<%= @posts.each do |post| %>
			<h3 class="blog-title">
				<%= post.title %>
			</h3>
			<div class="img-box">
				<%= post.post_image %>
			</div>
			<div class="userphoto">
				<%= post.user.image %>
			</div>
			<div class="username">
				<%= post.user.name %>
			</div>
			<div class="date">
				<%= post.create_at %>
			</div>
			<div class="category">
				<%= post.category %>
			</div>
			<div class="nice">
			</div>
			<div class="comment">
				<%= post.comment.count %> コメント
			</div>
			<div class="caption">
				<%= post.caption %>
			</div>
		<% end %>
	</div>
</section>