<div class="create-page">
	<%= form_for(@post) do |f| %>
	<%= render 'layouts/error_messages', model: f.object %>

		<%= f.label :title %>
		<%= f.text_field :title %><br>

		<%= f.label :image_id %>
		<%= f.attachment_field :image_id %><br>

		<%= f.label :caption %>
		<%= f.text_area :caption %><br>

		<%= f.submit %>

	<% end %>
</div>

<%= link_to "back", post_images_path %>