<div class="post-image-show-visual">
	<p>画像　詳細</p>
</div>

<div class="wrapper">
	<div class="blog-show">
		<div class="blog-main">
			<h3 class="blog-show-title">
				<%= @post.title %>
			</h3>
			<div class="show-img-box">
				<%= attachment_image_tag @post, :image, size:"400x350",
				fallback:"no_image.jpg" %>
			</div>
			<div class="show-user-info">
				<div class="show-userphoto">
					<%= attachment_image_tag @post.user, :user_image, fallback:"no_image.jpg", size:"50x50" %>
				</div>
				<div class="show-username">
					<%= @post.user.name %>
				</div>
			</div>
			<div class="show-post-info">
				<div class="date">
					<%= @post.created_at.strftime("%Y/%m/%d") %>
				</div>
				<div class="category">
					<td class="category"><% @post.tags.each do |tag| %>
					<span class="badge badge-primary"><%= tag.name %></span>
					<% end %>
 				</div>
				<div class="nice">
					<%= @post.favorites.count %> いいね
				</div>
			</div>
			<div class="show-caption">
				<%= @post.caption %>
			</div>
			<div class="show-edit-destroy">
				<% if @post.user == current_user %>
					<%= link_to "編集", edit_post_image_path(@post.id), class:"btn" %>
					<%= link_to "削除", post_image_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn" %>
				<% end %>
			</div>

			<div class="image-show-comment">
				<h3>コメント</h3>
				<table>								<% @post.post_comments.each do |post_comment| %>
					<tbody>
						<tr class="user-info">
							<td class="comment-user"><%= attachment_image_tag post_comment.user, :user_image, fallback:"no_image", size:"40x40" %></td>
							<td><%= link_to "#{post_comment.user.name}", user_path(post_comment.user.id) %>
							</td>
							<td><%= post_comment.created_at.strftime("%Y/%m/%d") %>
							</td>
						</tr>
						<tr class="comment-text">
							<td><%= post_comment.comment %>
							</td>
						</tr>
					</tbody>
				<% end %>
				</table>
			</div><!--comment-->
		</div><!--blogmain-->

		<div class="sidebar postcomment">
			<p>コメントしてね！！</p>

			<%= form_for [@post, @post_comment] do |f| %>
			<%= render 'layouts/error_messages', model: f.object %>

				<%= f.text_area :comment, rows:"5", placeholder:"コメント記入" %>
				<%= f.submit "投稿" %>
			<% end %>
		</div><!--postcomment-->
	</div><!--blog-show-->
</div>