<div class="visual">
	
</div>

<div class="blog">
	<h3 class="blog-title">
		<%= @post.title %>
	</h3>
	<div class="img-box">
		<%= attachment_image_tag @post, :image, fallback:"no_image.jpg" %>
	</div>
	<div class="user-info">
		<div class="userphoto">
			<%= attachment_image_tag @post, :image, fallback:"no_image.jpg"  %>
		</div>
		<div class="username">
			<%= @post.user.name %>
		</div>
	</div>
	<div class="post-info">
		<div class="date">
			<%= @post.created_at.strftime("%Y/%m/%d") %>
		</div>
		<div class="category">
		</div>
		<div class="nice">
		</div>
		<div class="comment">
		</div>
	</div>
	<div class="caption">
		<%= @post.caption %>
	</div>

	<% if @post.user == current_user %>
		<%= link_to "編集", edit_post_image_path(@post.id) %>
		<%= link_to "削除", post_image_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
	<% end %>
</div>

<div class="comments">
</div>
