<!DOCTYPE html>
<html>
  <head>
    <title>BlogSanpleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/aa6a15dbff.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <!-- ログインあと -->
        <nav>
          <div class="nav-logo">logo</div>

          <ul class="nav-list">
            <li class="nav-item">ようこそ <%= current_user.name %> さん</li>
            <li class="nav-item"><%= link_to "My page", user_path(current_user.id) %></li>
            <li class="nav-item">探す</li>
            <li class="nav-item"><%= link_to "投稿", new_post_image_path %></li>
          </ul>
        </nav>
      <% else %>
      <!-- ログイン前 -->
        <nav>
            <div class="nav-logo">logo</div>

          <ul class="nav-list">
            <li class="nav-item"><%= link_to "Home", root_path %></li>
            <li class="nav-item"><%= link_to "About", home_about_path %></li>
            <li class="nav-item"><%= link_to "Sign_up", new_user_registration_path %></li>
            <li class="nav-item"><%= link_to "Log_in", user_session_path %></li>
          </ul>
        </nav>
      <% end %>
    </header><!-- /header -->



    <%= yield %>


    <footer>
      texitetxitetxi
    </footer>
  </body>
</html>
